{% liquid
  assign card_title = ''
  assign cta_url = ''
  assign cta_text = ''

  if block.settings.main_collection != blank
    assign card_title = block.settings.main_collection.title
    assign cta_url = block.settings.main_collection.url
  endif
  if block.settings.cta_url
    assign cta_url = block.settings.cta_url
  endif
  if block.settings.cta_text != blank
    assign cta_text = block.settings.cta_text
  endif
  if block.settings.collections_card_title != blank
    assign card_title = block.settings.collections_card_title
  endif
%}

<div class="b-card b-has-background-primary-25">
  <header class="b-card-header">
    <p class="b-card-header-title b-is-capitalized b-title b-is-5 b-has-text-white">
      {{ card_title }}
    </p>
  </header>
  <div class="b-card-content b-p-2">
    <div class="b-content">
      <div class="b-fixed-grid b-has-2-cols">
        <div class="b-grid">
          {% if block.settings.collection_1 != blank %}
            {% liquid
              if block.settings.collection_1_title != blank
                assign title = block.settings.collection_1_title
              else
                assign title = block.settings.collection_1.title
              endif
            %}
            {% render 'c-collection-mini',
              collection: block.settings.collection_1,
              priority: block.settings.priority,
              title: title
            %}
          {% endif %}
          {% if block.settings.collection_2 != blank %}
            {% liquid
              if block.settings.collection_2_title != blank
                assign title = block.settings.collection_2_title
              else
                assign title = block.settings.collection_2.title
              endif
            %}
            {% render 'c-collection-mini',
              collection: block.settings.collection_2,
              priority: block.settings.priority,
              title: title
            %}
          {% endif %}
          {% if block.settings.collection_3 != blank %}
            {% liquid
              if block.settings.collection_3_title != blank
                assign title = block.settings.collection_3_title
              else
                assign title = block.settings.collection_3.title
              endif
            %}
            {% render 'c-collection-mini',
              collection: block.settings.collection_3,
              priority: block.settings.priority,
              title: title
            %}
          {% endif %}
          {% if block.settings.collection_4 != blank %}
            {% liquid
              if block.settings.collection_4_title != blank
                assign title = block.settings.collection_4_title
              else
                assign title = block.settings.collection_4.title
              endif
            %}
            {% render 'c-collection-mini',
              collection: block.settings.collection_4,
              priority: block.settings.priority,
              title: title
            %}
          {% endif %}
          {% if block.settings.collection_5 != blank %}
            {% liquid
              if block.settings.collection_5_title != blank
                assign title = block.settings.collection_5_title
              else
                assign title = block.settings.collection_5.title
              endif
            %}
            {% render 'c-collection-mini',
              collection: block.settings.collection_5,
              priority: block.settings.priority,
              title: title
            %}
          {% endif %}
          {% if block.settings.collection_6 != blank %}
            {% liquid
              if block.settings.collection_6_title != blank
                assign title = block.settings.collection_6_title
              else
                assign title = block.settings.collection_6.title
              endif
            %}
            {% render 'c-collection-mini',
              collection: block.settings.collection_6,
              priority: block.settings.priority,
              title: title
            %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <footer class="b-card-footer">
    <a
      href="{{ cta_url }}"
      class="b-card-footer-item b-button b-is-primary b-is-size-5 b-is-capitalized"
    >
      {{ cta_text }}
    </a>
  </footer>
</div>
