<div class="b-card">
  {% if block.settings.has_header %}
    <header class="b-card-header">
      <p class="b-card-header-title">Card header</p>
    </header>
  {% endif %}
  {% if block.settings.image != '' %}
    <div class="b-card-image">
      <figure class="b-image b-is-4by3">
        {% render 'twic-img', image: block.settings.image %}
      </figure>
    </div>
  {% endif %}
  <div class="b-card-content">
    {% for child_block in block.blocks %}
      <div class="b-block" {{ child_block.shopify_attributes }}>
        {% render child_block %}
      </div>
    {% endfor %}
  </div>
  <footer class="b-card-footer">
    <a href="#" class="b-card-footer-item">Save</a>

    <button class="b-card-footer-item b-button">Button</button>
  </footer>
</div>

{% schema %}
{
  "name": "AA Card",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Card Header"
    },
    {
      "type": "checkbox",
      "label": "Include Card Header",
      "id": "has_header",
      "default": false
    },
    {
      "type": "header",
      "content": "Card Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Image Ratio",
      "options": [
        {
          "value": "is-1by1",
          "label": "Square"
        },
        {
          "value": "is-4by3",
          "label": "4:3"
        },

        { "value": "is-3by4", "label": "3:4" },
        {
          "value": "is-3by2",
          "label": "3:2"
        },
        {
          "value": "is-16by9",
          "label": "16:9"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "AA Card",
      "category": "AA Blocks",
      "blocks": [
        {
          "type": "aa-styled-text-block"
        },
        {
          "type": "aa-styled-text-block"
        },
        {
          "type": "aa-styled-button"
        }
      ]
    }
  ]
}
{% endschema %}
