{% liquid
  assign class_list = 'b-grid'
  if block.settings.fixed_grid == 'true'
    assign class_list = class_list | append: ' b-is-fixed-grid'
  endif
  if block.settings.fixed_col > 0
    assign class_list = class_list | append: ' b-has-' | append: block.settings.fixed_col | append: '-cols'
  endif
  if block.settings.mobile_cols > 0
    assign class_list = class_list | append: ' b-has-' | append: block.settings.mobile_cols | append: '-cols-mobile'
  endif
  if block.settings.mobile_cols > 0
    assign class_list = class_list | append: ' b-has-' | append: block.settings.mobile_cols | append: '-cols-mobile'
  endif
  if block.settings.tablet_cols > 0
    assign class_list = class_list | append: ' b-has-' | append: block.settings.tablet_cols | append: '-cols-tablet'
  endif
  if block.settings.desktop_cols > 0
    assign class_list = class_list | append: ' b-has-' | append: block.settings.desktop_cols | append: '-cols-desktop'
  endif
  if block.settings.widescreen_cols > 0
    assign class_list = class_list | append: ' b-has-' | append: block.settings.widescreen_cols | append: '-cols-widescreen'
  endif
  if block.settings.fullhd_cols > 0
    assign class_list = class_list | append: ' b-has-' | append: block.settings.fullhd_cols | append: '-cols-fullhd'
  endif
%}

<div class="{{ class_list }}" {{ block.shopify_attributes }}>
  {% for child_block in block.blocks %}
  <div
      {{ block.shopify_attributes }}
      x-data="{childClasses: '', showChild: false}"
      :class="childClasses"
      x-show="showChild"
  >
    {% render child_block %}
</div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "AA Grid",
  "settings": [
    {
      "type": "header",
      "content": "Grid options"
    },
    {
      "type": "checkbox",
      "id": "fixed_grid",
      "label": "Fixed grid",
      "default": false
    },
    {
      "type": "range",
      "id": "fixed_col",
      "label": "Fixed columns",
      "min": 0,
      "max": 12,
      "default": 0
    },
    {
      "type": "header",
      "content": "Container breakpoints",
      "info": "Number of Columns by Screen size"
    },
    {
      "type": "range",
      "id": "mobile_cols",
      "label": "Mobile",
      "info": "Enter '0' for default",
      "min": 0,
      "max": 12,
      "default": 0
    },

    {
      "type": "range",
      "id": "tablet_cols",
      "label": "Tablet",
      "info": "Enter '0' for default",
      "min": 0,
      "max": 12,
      "default": 0
    },
    {
      "type": "range",
      "id": "desktop_cols",
      "label": "Desktop",
      "info": "Enter '0' for default",
      "min": 0,
      "max": 12,
      "default": 0
    },
    {
      "type": "range",
      "id": "widescreen_cols",
      "label": "Widescreen",
      "info": "Enter '0' for default",
      "min": 0,
      "max": 12,
      "default": 0
    },
    {
      "type": "range",
      "id": "fullhd_cols",
      "label": "Full HD",
      "info": "Enter '0' for default",
      "min": 0,
      "max": 12,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "_aa-cell"
    }
  ],
  "presets": [
    {
      "name": "AA Grid"
    }
  ]
}
{% endschema %}
