<div
  class="b-notification {{ block.settings.notification_style }}{% if block.settings.notification_light_style %} b-is-light {%- endif %}"
  {{ block.shopify_attributes }}
>
  {% for child_block in section.blocks %}
    <div class="b-block" {{ child_block.shopify_attributes }}>
      {{ child_block.type }}
    </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "AA Notification",
  "blocks": [
    {
      "type": "@theme"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "notification_style",
      "label": "Notification Style",
      "options": [
        { "label": "Default", "value": "" },
        { "label": "Primary", "value": "b-is-primary" },
        { "label": "Info", "value": "b-is-info" },
        { "label": "Success", "value": "b-is-success" },
        { "label": "Warning", "value": "b-is-warning" },
        { "label": "Danger", "value": "b-is-danger" }
      ],
      "default": ""
    },
    {
      "type": "checkbox",
      "id": "notification_light_style",
      "label": "Light Style",
      "default": false
    }
  ],

  "presets": [
    {
      "name": "AA Notification"
    }
  ]
}
{% endschema %}
