<div
  {{ block.shopify_attributes }}
  class="b-column b-is-3-desktop b-is-6-tablet b-carousel-wrapper"
  x-data="
    carousel({
    intervalTime: 3500,
    slides: [
        {title: 'Card Title 1.1',
        image: 'https://placehold.co/300x225/orange/white'},
        {title: 'Card Title 2.1', image: 'https://placehold.co/300x225/green/white'},
        {title: 'Card Title 3.1', image: 'https://placehold.co/300x225/blue/white'}
    ]})
  "
  x-init="$nextTick(() => console.log('Autoplay interval time:' + autoplayIntervalTime)); autoplay();"
  @touchstart="handleTouchStart($event)"
  @touchmove="handleTouchMove($event)"
  @touchend.debounce.3000ms="handleTouchEnd($event)"
>
  {% for child_block in block.blocks %}
    {{ child_block.type }}
  {% endfor %}

  {% render 'c-carousel-buttons' %}

  {% case block.blocks.first.type %}
    {% when 'b-card-collection' %}
      <div class="b-column b-is-3-desktop b-is-6-tablet">
        {% render 'c-card-collection', block: block.blocks.first, main_carousel_slide: true %}
      </div>

    {% when 'b-card-article' %}
      <div class="b-column b-is-3-desktop b-is-6-tablet">
        {% render 'c-card-article', block: block.blocks.first, main_carousel_slide: true %}
      </div>

    {% when 'b-card-products-grid' %}
      <div class="b-column b-is-3-desktop b-is-6-tablet">
        {% render 'c-card-products-grid', block: block.blocks.first, main_carousel_slide: true %}
      </div>

    {% when 'b-card-collections-grid' %}
      <div class="b-column b-is-3-desktop b-is-6-tablet">
        {% render 'c-card-collections-grid', block: block.blocks.first, main_carousel_slide: true %}
      </div>
  {% endcase %}
</div>

{% for child_block in block.blocks offset: 1 %}
  {% case child_block.type %}
    {% when 'b-card-collection' %}
      <div class="b-column b-is-3-desktop b-is-6-tablet">
        {% render 'c-card-collection', block: child_block, carousel_slide: true %}
      </div>

    {% when 'b-card-article' %}
      <div class="b-column b-is-3-desktop b-is-6-tablet">
        {% render 'c-card-article', block: child_block, carousel_slide: true %}
      </div>

    {% when 'b-card-products-grid' %}
      <div class="b-column b-is-3-desktop b-is-6-tablet">
        {% render 'c-card-products-grid', block: child_block, carousel_slide: true %}
      </div>

    {% when 'b-card-collections-grid' %}
      <div class="b-column b-is-3-desktop b-is-6-tablet">
        {% render 'c-card-collections-grid', block: child_block, carousel_slide: true %}
      </div>
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "b-Carousel",
  "blocks": [
    {
      "type": "b-card-collection"
    },
    {
      "type": "b-card-article"
    },
    {
      "type": "b-card-products-grid"
    },
    {
      "type": "b-card-collections-grid"
    }
  ],
  "presets": [
    {
      "name": "b-Carousel",
      "category": "b-blocks"
    }
  ]
}
{% endschema %}
