<div class="b-cell b-has-background-white b-has-radius-small" {{ block.shopify_attributes }}>
  <a href="{{ block.settings.collection.url }}">
    <figure class="b-image b-is-3by4">
      {{
        block.settings.collection.image
        | image_url: width: 140
        | image_tag:
          widths: '50, 80, 100, 120, 140, 160, 180, 200, 250, 300, 350, 400, 450, 500, 550, 600',
          loading: 'lazy',
          preload: block.settings.priority
      }}
    </figure>
    <p class="b-is-6 b-px-1 b-has-text-left b-is-ghost b-is-capitalized">
      {{ block.settings.collection.title }}
    </p>
  </a>
</div>

{% schema %}
{
  "name": "b-collection-mini",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "b-collection-mini",
      "category": "b-Blocks"
    }
  ]
}
{% endschema %}
