* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
:root {
  --gjs-t-color-primary: #cf549e;
  --gjs-t-color-secondary: #b9227d;
  --gjs-t-color-accent: #ffb347;
  --gjs-t-color-success: #28a745;
  --gjs-t-color-warning: #ffc107;
  --gjs-t-color-error: #dc3545;
}
.gjs-t-body {
  background-color: inherit;
  color: inherit;
  font-size: 1rem;
  line-height: 1.75rem;
  font-family: Arial, Helvetica, sans-serif;
}
.gjs-t-h1 {
  color: var(--gjs-t-color-secondary);
  font-size: 1.5rem;
  line-height: 2.5rem;
}
.gjs-t-h2 {
  color: #601843;
  font-size: 1.2rem;
  line-height: 1.75rem;
}
.gjs-t-button {
  background-color: var(--gjs-t-color-primary);
  color: white;
  border-radius: 0.3rem;
}
.gjs-t-link {
  color: var(--gjs-t-color-primary);
  text-decoration: underline;
}
.gjs-t-border {
  border-radius: 0.3rem;
  border-color: #e0e0e0;
}
.gjs-plg-flex-column.box {
  display: block;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 24px;
  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  margin-left: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(0, 0, 0, 0.05);
  border-right-color: rgba(0, 0, 0, 0.05);
  border-bottom-color: rgba(0, 0, 0, 0.05);
  border-left-color: rgba(0, 0, 0, 0.05);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  box-shadow: 1px 3px 5px 0px rgba(0, 0, 0, 0.07);
}
#i7mi {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  max-width: 1600px;
}
.gjs-plg-flex-column.box.aa-card-wrapper {
  flex: 0 1 auto;
  display: grid;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: space-between;
  max-width: auto;
  margin-top: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  padding-bottom: 0px;
  align-self: stretch;
  position: static;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.gjs-card-image-responsive {
  position: relative;
  top: 0%;
  right: 0px;
  bottom: auto;
  left: 0%;
  min-height: 50%;
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  overflow: hidden;
  transform: unset;
  transition: unset;
}
.aa-card-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.gjs-plg-flex-column {
  display: block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: stretch;
  flex: 0 0 auto;
  align-self: center;
  width: 100%;
  min-height: 20vh;
  text-align: left;
  vertical-align: middle;
}
#i16e {
  flex-basis: 50%;
}
#ir2x {
  flex-basis: 50%;
}
.gjs-plg-flex-row {
  display: grid;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 16px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
}
#i9rhe {
  padding: 10px;
}
.aa-header {
  flex: 0 1 auto;
}
#ihd9z {
  flex-basis: 100%;
}
#i3bwv {
  width: 100%;
}
.aa-text-block {
  display: flex;
  flex: 0 0 auto;
  align-self: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  min-height: 20vh;
  height: 100%;
  width: auto;
}
#iqquw {
  flex-basis: 100%;
}
#is75a {
  width: 100%;
}
.gjs-image-box {
  flex: 0 0 auto;
  align-self: center;
  min-width: 45vw;
  width: 100%;
  height: auto;
  min-height: 20vh;
}

.aa-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex: 0 0 auto;
  align-self: center;
  width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .gjs-plg-flex-row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    display: grid;
    gap: 16px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
  }
  .gjs-plg-flex-column {
    display: block;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 0%;
    align-self: auto;
  }
  .gjs-image-box {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .aa-text-block {
    display: flex;
  }
}
@media (max-width: 480px) {
  .gjs-plg-flex-column.box {
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    background-color: rgba(110, 83, 245, 0.22);
    background-image: unset;
    background-position: unset;
    background-size: unset;
    background-repeat: unset;
    background-attachment: unset;
    background-origin: unset;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.52);
    border-right-color: rgba(0, 0, 0, 0.52);
    border-bottom-color: rgba(0, 0, 0, 0.52);
    border-left-color: rgba(0, 0, 0, 0.52);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .gjs-plg-flex-row {
    grid-template-columns: repeat(1, 1fr);
    display: block;
    justify-content: center;
    max-width: 100vw;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .aa-header {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .subheader {
    font-size: 1rem;
  }
  .aa-text {
    font-size: 0.85rem;
  }
}
