<section class="b-section {{ section.settings.section_size }}" {{ section.shopify_attributes }}>
  <div class="b-container {{ section.settings.container_responsive_size }}">
    <div class="b-columns">
      {% for block in section.blocks %}
        <div {{ block.shopify_attributes }} 
          x-data="{classList: 'b-column cambur'}"
          :class="classList"
        >
           {% render block %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "AA Columns",
  "blocks": [
    {
    "type": "aa-column"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "section_size",
      "label": "Section Size",
      "options": [
        { "label": "Small", "value": "" },
        { "label": "Medium", "value": "b-is-medium" },
        { "label": "Large", "value": "b-is-large" }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "container_responsive_size",
      "label": "Container Responsive Size",
      "options": [
        { "label": "Default", "value": "" },
        { "label": "Desktop", "value": "b-is-desktop" },
        { "label": "Widescreen", "value": "b-is-widescreen" },
        { "label": "FullHD", "value": "b-is-fullhd" },
        { "label": "Max Tablet", "value": "b-is-max-tablet" },
        { "label": "Max Desktop", "value": "b-is-max-desktop" },
        { "label": "Max Widescreen", "value": "b-is-max-widescreen" },
        { "label": "Fluid", "value": "b-is-fluid" }
      ],
      "default": ""
          
        }
  ],
  "presets": [
    {
      "name": "AA Columns",
      "category": "01-custom",

    }
  ]
}
{% endschema %}
