<section class="b-section {{ section.settings.section_size }}" {{ section.shopify_attributes }}>
  <div class="b-columns">
    {% for child_block in section.blocks %}
      {% render child_block %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "AA Columns",
  "blocks": [
    {
      "type": "aa-column"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "section_size",
      "label": "Section Size",
      "options": [
        { "label": "Small", "value": "" },
        { "label": "Medium", "value": "b-is-medium" },
        { "label": "Large", "value": "b-is-large" }
      ],
      "default": ""
    },
    {
      "type": "select",
      "id": "container_responsive_size",
      "label": "Container Responsive Size",
      "options": [
        { "label": "Default", "value": "" },
        { "label": "Desktop", "value": "b-is-desktop" },
        { "label": "Widescreen", "value": "b-is-widescreen" },
        { "label": "FullHD", "value": "b-is-fullhd" },
        { "label": "Max_Tablet", "value": "b-is-max_tablet" },
        { "label": "Max_Desktop", "value": "b-is-max_desktop" },
        { "label": "Max_Widscreen", "value": "b-is-max_widescreen" },
        { "label": "Fluid", "value": "b-is-fluid" }
      ],
      "default": ""
    }
  ],

  "presets": [
    {
      "name": "AA Columns",
      "category": "01-custom",
      "blocks": [{ "type": "aa-column" }, { "type": "aa-column" }]
    }
  ]
}
{% endschema %}
