<section class="b-section" id="b-card-display-section-{{ section.id }}">
  <div id="b-card-display-container-{{ section.id }}" class="b-container">
    {% for child_block in section.blocks %}
      <div id="b-card-display-block-{{ child_block.id }}" class="b-card-display-block">
        {% render child_block %}
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "b-card Display",
  "settings": [],
  "blocks": [
    {
      "type": "b-carousel"
    },
    {
      "type": "article"
    },
    {
      "type": "collection"
    },
    {
      "type": "products"
    },
    {
      "type": "collections"
    }
  ],

  "presets": [
    {
      "name": "b-card Display",
      "category": "Custom",
      "blocks": [{ "type": "b-carousel" }]
    }
  ]
}
{% endschema %}
