{{ 'a-main-collection-plt.css' | asset_url | stylesheet_tag }}
{% render 'a-dummy-products' %}

<section class="b-section">
  <div class="b-container">
    <h1 class="b-title">{{ collection.title }}</h1>
  </div>
</section>
<section class="b-section">
  <div class="b-container">
    <div class="b-columns b-is-multiline c-columns">
      <!-- FORLOOP -->
      <!-- Web Component: Cargar la colección -->
      <shopify-context type="collection" handle="{{ collection.handle }}">
        <template>
          <shopify-list-context
            type="product"
            query="collection.products"
            first="36"
          >
            <template>
              <div class="b-column b-card-column b-is-half-tablet b-is-one-quarter-desktop b-is-one-fifth-widescreen">
                <!-- CARD -->
                <div class="b-box b-p-2 b-align-items-stretch-tablet">
                  <div class="b-columns b-is-mobile b-row-to-col-tablet">
                    <div class="b-column b-is-half-mobile b-is-full-tablet b-card-image-wrapper">
                      <figure class="b-image">
                        <shopify-media
                          max-images="1"
                          width="500"
                          height="auto"
                          max-height="400"
                          query="product.featuredImage"
                          class="b-rounded-corners b-image"
                          loading="lazy"
                        ></shopify-media>
                      </figure>
                      <div class="b-mt-1 b-has-text-left">
                        <span
                          class="b-tag b-is-rounded b-is-link"
                          shopify-attr--hidden="!(product.selectedOrFirstAvailableVariant.compareAtPrice.amount > product.selectedOrFirstAvailableVariant.price.amount)"
                        >
                          Sale
                        </span>

                        <span class="b-tag b-is-rounded b-is-link b-is-light ">Package</span>
                        <span class="b-tag b-is-primary">Bulma</span>
                      </div>
                    </div>
                    <!-- MOBILE -->
                    <div class="b-column b-is-half-mobile b-card-content-wrapper">
                      <div class="b-block">
                        <p class="b-title b-is-capitalized b-is-size-6">
                          <shopify-data query="product.title"></shopify-data>
                        </p>
                        <p class="b-subtitle b-is-uppercase b-is-size-6">
                          <shopify-data query="product.vendor"></shopify-data>
                        </p>
                        <p class="b-is-size-7">
                          <shopify-data query="product.productType"></shopify-data>
                        </p>
                      </div>

                      <div class="b-block">
                        <p class="b-title b-is-size-4 b-has-text-primary">
                          <shopify-money query="product.selectedOrFirstAvailableVariant.price"></shopify-money>

                          <span class="b-tag b-is-rounded b-is-link b-is-light b-is-size-6"
                            >Was:
                            <shopify-money
                              query="product.selectedOrFirstAvailableVariant.compareAtPrice"
                            ></shopify-money
                          ></span>
                        </p>

                        <button class="b-button b-is-primary b-is-outlined b-is-fullwidth b-is-rounded">
                          Add to cart
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </shopify-list-context>
        </template>
      </shopify-context>
      <!-- END FORLOOP -->
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection PLT",
  "settings": [],
  "presets": [
    {
      "name": "Collection PLT"
    }
  ]
}
{% endschema %}
