    :root {
        --b-primary-h: 346deg;
        --b-primary-s: 89%;
        --b-primary-l: 61%;
        --b-link-h: 268deg;
        --b-link-s: 41%;
        --b-link-l: 33%;
        --b-info-h: 190deg;
        --b-info-s: 84%;
        --b-info-l: 29%;
        --b-success-l: 80%;
        --b-warning-l: 80%;
        --b-danger-l: 80%;
        --b-body-background-color: #f4f4f4;
        --b-subtitle-color: #f4436c;


    }

    .b-title {
        --b-title-color: #533278;
        --b-title-strong-color: #533278;
        /*font-family: "Chelsea Market", system-ui;*/
    }
/*
    .b-subtitle {
        font-family: "Chelsea Market", system-ui;
    }
        */

    .b-hero {
        --b-section-padding: 3rem 1.5rem;
        --b-hero-body-padding: 0.1rem 0rem;
    }

    .b-section {
        --b-section-padding: 3rem 1.5rem;
        padding: var(--b-section-padding);
    }

    @media screen and (min-width: 990px) {
        .b-page-width {
            max-width: var(--page-width) !important;
            margin: 0 auto !important;
            padding: 0 5rem !important;
        }
    }