.pagination-wrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 5rem;
  }
}

.pagination__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.pagination__list > li {
  margin: 0 0.5rem;
}

.pagination__item {
  color: rgb(var(--color-foreground));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4.4rem;
  width: 4.4rem;
  padding: 0;
  text-decoration: none;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

a.pagination__item:hover {
  background-color: rgba(var(--color-foreground), 0.1);
}

.pagination__item--current {
  background-color: rgb(var(--color-foreground));
  color: rgb(var(--color-background));
  font-weight: bold;
}

.pagination__item .icon-caret {
  height: 0.6rem;
}

.pagination__item--next .icon,
.pagination__item--prev .icon {
  transition: transform 0.3s;
}

.pagination__item--next:hover .icon {
  transform: translateX(2px);
}

.pagination__item--prev:hover .icon {
  transform: translateX(-2px);
}
