 .in-article-product-layout {
    display: flex;
    width: 100%;
  }
  .in-article-product-card {
    width: 100%;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
  }
  .in-article-product-card__container {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
  }
  .in-article-product-card__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .in-article-product-card__main-image img {
    border-radius: 0.5rem;
  }
  .in-article-product-card__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    margin-left: 1rem;
  }
  .in-article-product-card__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .in-article-product-card__vendor{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
  }

  .in-article-product-card__title {
    font-weight: 700;
    margin: 0;
    color: #533278;
  }
  .in-article-product-card__price {
    display: flex;
    gap: 0.5rem;
    font-size: 1.75rem;
    font-weight: 500;
        margin-top: 1.25rem;
  }
  .in-article-product__link {
    color: #fff !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .in-article-product-card__product-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #F4436C;
    border-radius: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid #F4436C;
  }
  .in-article-product-card__product-link:hover {
    background: #0C7489;
    color: white;
    border: 2px solid #0C7489;
  }

  @media screen and (max-width: 750px) {
    .in-article-product-card__product-link {
        padding: 5px;
    }

    .in-article-product-card__vendor {
    font-size: 1.15rem;
    }

    .in-article-product-card__price {
    font-size: 1.5rem;
    
    margin-top: .15rem;
    }

    .in-article-product-card__main-image img {
        border-radius: 0.5rem;
        margin: 0rem;
    }

  }