

.badge {
    border-radius: 3px !important;
    font-weight: bold;
    padding: .25rem 1rem .28rem;
 }

 .price {
    font-weight: 500;
}

.custom-price-text-was {
  font-size: 1.1rem;
  font-weight: 400;
  white-space: nowrap;
}