 .shortcode-product-layout {
    display: flex;
    width: 100%;
  }
  .shortcode-product-card {
    width: 100%;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    
  }
  .shortcode-product-card__container {
    display: flex;
    padding: 1rem;
    box-sizing: border-box;
  }
  .shortcode-product-card__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .shortcode-product-card__main-image img {
    border-radius: 0.5rem;
  }
  .shortcode-product-card__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    justify-content: space-between;
    margin-left: 1rem;
  }
  .shortcode-product-card__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .shortcode-product-card__vendor{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
  }

  .shortcode-product-card__title {
    font-weight: 700;
    margin: 0;
    color: #533278;
  }
  .shortcode-product-card__price {
    display: flex;
    gap: 0.5rem;
    font-size: 1.75rem;
    font-weight: 500;
        margin-top: 1.25rem;
  }

  .shortcode.product-card__link {
    color: #000000 !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .shortcode-product__link {
    color: #fff !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .shortcode-product-card__product-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #F4436C;
    border-radius: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: 2px solid #F4436C;
  }
  .shortcode-product-card__product-link:hover {
    background: #0C7489;
    color: white;
    border: 2px solid #0C7489;
  }

  @media screen and (max-width: 750px) {
    .shortcode-product-card__product-link {
        padding: 5px;
    }

    .shortcode-product-card__vendor {
    font-size: 1.15rem;
    }

    .shortcode-product-card__price {
    font-size: 1.5rem;
    
    margin-top: .15rem;
    }

    .shortcode-product-card__main-image img {
        border-radius: 0.5rem;
        margin: 0rem;
    }

  }


/* Collection Carousel */
.shortcode-collection-carousel-container {
  position: relative;
  overflow: hidden;
}

.shortcode-carousel-wrapper {
 /* Ensure items stay in a single line */
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Snap scrolling */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  padding: 0 1rem 1rem 1rem; /* Add padding for visual spacing */
  gap: 1rem; /* Space between cards */
}

.shortcode-carousel-slide {
  flex: 0 0 auto; /* Prevent flex items from shrinking */
  width: 280px; /* Set a fixed width for each card */
  scroll-snap-align: start; /* Snap to the start of each item */
}
  /** Collection style **/
  .shortcode-collection {
    padding: 1rem;
    border-radius: 0.75rem;
    background-color: #ffffff;
  }
  .collection__title {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0 0 1rem 0;
    color: #111827;
  }
  .shortcode-product-grid {
    margin: 0 auto;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5rem;
    justify-items: center;
    align-items: center;
  }
  .product-card {
    position: relative;
    cursor: pointer;
    border: 0;
    background-color: inherit;
  }
  .product-card:is([disabled]) {
    cursor: not-allowed;
  }
  .product-card:is([disabled])::before {
    position: absolute;
    z-index: 1;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .product-card:is([disabled])::after {
    content: 'Sold out';
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #000000;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    z-index: 2;
  }
  .product-card__image-container {
    width: 100%;
    overflow: hidden;
    border-radius: 0.625rem;
    aspect-ratio: auto;
    height: 20rem;
  }
  .product-card__image-container img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
    object-position: center;
    display: block;
    transition: transform 0.3s ease-in-out;
  }
  .product-card:hover .product-card__image-container img {
    transform: scale(1.1);
  }
  .product-card__image-container:hover {
    opacity: 0.75;
  }
  .product-card__details {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
  }
  .product-card__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .shortcode-product-card__title:hover {
    text-decoration: underline;
  }
  .product-card__category {
    margin: 0;
    font-size: 0.875rem;
    color: #6b7280;
    text-align: left;
  }
