.twic-image-wrapper {
  position: relative;
  overflow: hidden;
  background-color: whitesmoke;
  ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  width: 100%;
}

.twic-image-wrapper:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}

.twic-image-wrapper>img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}




.twic-image-wrapper img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1);
  will-change: opacity, transform;
  transition: opacity 1s linear, transform 0.75s ease-out;
}

.twic-image-wrapper img.twic-done {
  opacity: 1;
}

.twic-background-done {
  background-image: none !important;
}

.twic-image-wrapper img:hover {
  transform: scale(1.1);
}

.twic-image-wrapper figcaption {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 10px;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
}

.twic-image-preview .twic-background-done {
  background-image: none !important;
}