.featured-product .product__media-wrapper {
    padding: 2rem;
}

.collection-carousel-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.collection-carousel-container .carousel-wrapper {
    margin-top: 1.5rem;
}

.collection-carousel-container .card__content {
    padding: 1.3rem;
}

.collection-carousel-container .card__media {
    overflow: hidden;
    border-radius: var(--product-card-corner-radius);
}

.collection-carousel-container .media {
    height: 100%;
    position: relative;
    padding-bottom: 100%;
}

.collection-carousel-container .media img {
    transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.collection-carousel-container .media:hover img {
    transform: scale(1.05);
}

