.faq-section {
  margin-bottom: 2em;
}

.faq-main-heading {
  font-size: 2em;
  color: #533278;
  margin-bottom: 1em;
}

.faq-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 0.75em;
  overflow: hidden; /* To contain the expansion */
}

.faq-question {
  background-color: #f9f9f9;
  color: #533278;
  padding: 1em;
  margin: 0;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #e9e9e9;
  color: #0C7489;
}

.faq-question::after {
  content: '+';
  font-size: 1.2em;
  font-weight: bold;
}

.faq-question.active::after {
  content: '-';
}

.faq-answer {
  color: #231F20;
  padding: 1em;
  margin: 0;
  display: none; /* Initially hidden */
  border-top: 1px solid #eee;
  animation: fadein 0.3s ease-in-out;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}