.image-grid {
  overflow: hidden;
}

.image-grid__item {
  display: flex;
  flex-direction: column;
}

.image-grid__image-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.image-grid__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease;
}

.image-grid__image:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 749px) {
  .image-grid__image-wrapper {
    padding-bottom: 75%;
  }
}