
@use "./styles/bulma/sass/elements/button";

@use "./styles/bulma/sass/elements/box";
// @use "./styles/bulma/sass/elements/table";
@use "./styles/bulma/sass/elements/progress";
@use "./styles/bulma/sass/elements/notification";
@use "./styles/bulma/sass/elements/tag";

// 3. Layouts secundarios
@use "./styles/bulma/sass/layout/footer";
@use "./styles/bulma/sass/layout/level";
@use "./styles/bulma/sass/layout/media";

// 4. Componentes pesados (diferidos)
@use "./styles/bulma/sass/components/breadcrumb";
@use "./styles/bulma/sass/components/card";
@use "./styles/bulma/sass/components/dropdown";
@use "./styles/bulma/sass/components/message";

@use "./styles/bulma/sass/components/pagination";
@use "./styles/bulma/sass/components/panel";
@use "./styles/bulma/sass/components/tabs";
@use "./styles/bulma/sass/helpers";
@use "./styles/bulma/sass/elements/content";

// 6. Fuente principal
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
