// Critical Bulma bundle.
// Contains foundational Bulma layers that should be inlined for fast first paint.

@use "_variables";

@use "bulma/sass/utilities";
@use "bulma/sass/base";
@use "bulma/sass/helpers";
@use "bulma/sass/grid/columns";
@use "bulma/sass/layout/container";
@use "bulma/sass/layout/hero";
@use "bulma/sass/layout/section";
@use "bulma/sass/elements/title";
@use "bulma/sass/elements/content";
@use "bulma/sass/elements/button";
@use "bulma/sass/elements/tag";
@use "bulma/sass/elements/notification";
@use "bulma/sass/components/navbar";
@use "bulma/sass/components/menu";

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
