// Critical Bulma bundle.
// Contains foundational Bulma layers that should be inlined for fast first paint.

$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$black: #000000;

$family-primary: '"Urbanist", sans-serif';
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$control-border-width: 2px;
$input-shadow: none;
$cssvars-prefix: 'b-';
$class-prefix: 'b-';

@import "bulma/sass/utilities";
@import "bulma/sass/base";
// @import "bulma/sass/helpers";
@import "bulma/sass/grid/columns";
@import "bulma/sass/layout/container";
@import "bulma/sass/layout/hero";
@import "bulma/sass/layout/section";
@import "bulma/sass/elements/title";
@import "bulma/sass/elements/content";
@import "bulma/sass/elements/button";
// @import "bulma/sass/elements/tag";
// @import "bulma/sass/elements/notification";
@import "bulma/sass/components/navbar";
// @import "bulma/sass/components/menu";

// The Urbanist font is now loaded in layout/theme.liquid to avoid bloating the critical CSS.
