@use "../utilities/initial-variables" as iv;
@use "../utilities/extends";


.#{iv.$class-prefix}navbar-item.#{iv.$class-prefix}is-mega {
  position: static;

  .#{iv.$class-prefix}is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }
}